<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styleadmin.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include('./layout/navbar.ejs') %>
    <main>
      <h1>Tambah Data RW di Kelurahan Sangkanhurip</h1>
      <div class="body">
        <div class="header-body">
          <div class="card-small opacity">
            
            <div class="icon-verif primary">
              <i class="fa-solid fa-city" aria-hidden="true"></i>
            </div>
            <div class="info-verif">
              <h4>Jumlah RW Kelurahan Sangkanhurip :</h4>
              <h2><%= coun_rw.jumRW %></h2>
              <button id="buttonrw" class="large primary">Tambah</button>
            </div>
          </div>
          
        </div>

        <br>
        <div class="header-card">
              <button onclick="cetakPDF_RW()" class="button-large dangger">
                  <i class="fa fa-file-pdf"></i> Cetak PDF
              </button>
        </div>
        <div class="card-table opacity">
          
          <table id="example" class="display compact" style="width: 100%">
            <thead>
              <tr>
                <th>Nomor</th>
                <th>Kelurahan</th>
                <th>Nomor RW</th>
                <th>Tambah TPS</th>
          
              </tr>
            </thead>
            <tbody>
              <% let i = 0; %>
              <% for(const row of dataRW) { %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td>Sangkanhurip</td>
                  <td><%= "RW 0" + row.no %></td>
                  
                  <td><button onclick="window.location.href = '/admin/kelola-tps'" class="status-button"><i class="fa fa-add"></i>  Tambah TPS</button></td>
                </tr>
                <% i++; %>
              <% } %>
            </tbody>
          </table>
          
        </div>
      </div>
    </main>
    
    <div id="overlay"></div>
    <div id="myModal"  class="modal">
      <div class="modal-content" style="height: auto !important;">
        <span id="closeModal" class="close">&times;</span>
        <h2>Tambah Data RW</h2>
       
        <form method="post" action="/tambah-rw">
          
          <div class="form-group">
            <label for="rw">Masukan Nomor RW</label>
            <input
              type="text"
              name="rw"
              id="rw"
              value=""
              placeholder=""
            />
         
          <br />
          <button  class="button-large primary"><i class="fa fa-add"></i> Tambah</button>
        </form>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="/script.js"></script>
    <script>
      // Ambil semua elemen dengan class "status-button"
      var buttons = document.getElementsByClassName("status-button");

      // Loop melalui setiap tombol
      for (var i = 0; i < buttons.length; i++) {
        var button = buttons[i];

        // Periksa teks pada tombol
        var buttonText = button.textContent.trim();

        // Jika tombol merupakan "Hapus RW", ubah warna menjadi merah
        if (buttonText === "Hapus RW") {
          button.style.backgroundColor = "red";
        }

        // Jika tombol merupakan "Tambah TPS", ubah warna menjadi biru
        if (buttonText === "Tambah TPS") {
          button.style.backgroundColor = "var(--color-primary)";
        }
      }
      
      const btn = document.getElementById("buttonrw");
      btn.addEventListener("click",() =>{
        var modal = document.getElementById("myModal");
            var overlay = document.getElementById("overlay");

            modal.style.display = "block";
            overlay.style.display = "block";
      });
      var closeModalBtn = document.getElementById("closeModal");
      var overlay = document.getElementById("overlay");

      closeModalBtn.addEventListener("click", closeModal);
      overlay.addEventListener("click", closeModal);

      function closeModal() {
        var modal = document.getElementById("myModal");
        var overlay = document.getElementById("overlay");

        modal.style.display = "none";
        overlay.style.display = "none";
      }
    </script>
  </body>
</html>
