<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="icon" href="/assets/icon/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include('./layout/navbar.ejs') %>
    <main>
      <h1>Beranda</h1>
      <div class="body">
        <div class="card-large pdip">
          <div class="info-presiden">
            <h3>Nama : Ganjar Pranowo</h3>
            <h3>Nomor Urut : 01</h3>
            <h3>Visi : Menjadikan Indonesia menjadi ...</h3>
            <button class="button-large primary">Tampilkan</button>
          </div>
          <div class="foto-presiden"></div>
        </div>
      </div>
      <div class="body">
        <div class="card-large nasdem">
          <div class="info-presiden">
            <h3>Nama : Ganjar Pranowo</h3>
            <h3>Nomor Urut : 01</h3>
            <h3>Visi : Menjadikan Indonesia menjadi ...</h3>
            <button class="button-large primary">Tampilkan</button>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="card-large gerindra">
          <div class="info-presiden">
            <h3>Nama : Ganjar Pranowo</h3>
            <h3>Nomor Urut : 01</h3>
            <h3>Visi : Menjadikan Indonesia menjadi ...</h3>
            <button class="button-large primary">Tampilkan</button>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/notification.ejs') %>
  </body>
</html>
