<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Halaman beranda pengguna</title>
  </head>
  <body>
    <%- include('./layout/navbar.ejs') %>
    <main>
      <h1>Beranda</h1>
      <div class="body">
        <div class="card-large pdip">
          <div class="info-presiden">
            <p>Nama : Ganjar Pranowo</p>
            <p>Nomor Urut : 01</p>
            <p>Visi : meningkatkan kualitas kesehatan masyarakat dan mengeluarkan Indonesia dari jebakan negara berpenghasilan menengah.</p>
          </div>
          <div class="foto-presiden"></div>
        </div>
      </div>
      <div class="body">
        <div class="card-large nasdem">
          <div class="info-presiden">
            <p>Nama : Anies Baswedan</p>
            <p>Nomor Urut : 02</p>
            <p>Visi : fokus pembangunan harus jauh dan berfokus pada pembangunan manusia.</p>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="card-large gerindra">
          <div class="info-presiden">
            <p>Nama : Prabowo Subianto</p>
            <p>Nomor Urut : 03</p>
            <p>Visi : Terwujudnya bangsa dan negara Republik Indonesia yang adil, makmur, bermartabat, relijius, dan berdaulat.</p>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/notification.ejs') %>
  </body>
</html>
