<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include('./layout/navbar.ejs') %>
    <main id="main-kartuPemilu-Pengguna">
      <h1 class="headline" id="headline-KP">Kartu Pemilu</h1>
      <div class="containerKartu-bintang">
        <nav class="navbarKartu-bintang">
          <a class="<% if (activeNav === 'kartu') { %>active-navKartu<% } %>" href="/pengguna/kartu-pemilu" >Kartu Pemilu</a>
          <a class="<% if (activeNav === 'barcode') { %>active-navKartu<% } %>" href="/pengguna/kartu-pemiluB">Barcode</a>
        </nav>
        <div class="image-kartu">
            <% if (activeNav === 'kartu') { %>
                <img id="kartu-pemilu" src="../assets/kartuPemilu.png" alt="" />
            <% } else if (activeNav === 'barcode') { %>
                <img id="barcode-pemilu" src="../assets/barcode.png" alt="" />
            <% } %>
        </div>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
