<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include('./layout/navbar.ejs') %>
    <main id="main-kartuPemilu-Pengguna">
      <h1 class="headline" id="headline-KP">Kartu Pemilu</h1>
      <div class="containerKartu-bintang">
        <nav class="navbarKartu-bintang">
          <a class="active-navKartu" id="aKartu-pemilu" onclick="showImage('kartu-pemilu')" >Kartu Pemilu</a>
          <a id="aBarcode" onclick="showImage('barcode-pemilu')">Barcode</a>
        </nav>
        <div class="image-kartu">
          <img id="kartu-pemilu" src="../assets/kartuPemilu.png" alt="" />
          <img id="barcode-pemilu" src="../assets/barcode.png" alt="" hidden/>
        </div>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>

<script>
  // Mengambil semua tautan di dalam elemen dengan kelas "navbarKartu-bintang"
  var navLinks = document.querySelectorAll('.navbarKartu-bintang a');

  // Menambahkan event listener untuk setiap tautan
  navLinks.forEach(function(link) {
    link.addEventListener('click', function() {
      // Menghapus kelas ".active-navKartu" dari semua tautan
      navLinks.forEach(function(link) {
        link.classList.remove('active-navKartu');
      });

      // Menambahkan kelas ".active-navKartu" pada tautan yang diklik
      this.classList.add('active-navKartu');
    });
  });

  function showImage(imageId) {
    var images = document.getElementsByClassName("image-kartu")[0].getElementsByTagName("img");
    for (var i = 0; i < images.length; i++) {
      if (images[i].id === imageId) {
        images[i].style.display = "block";
      } else {
        images[i].style.display = "none";
      }
    }
  }
</script>