<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE-edge" />
  <meta name="viewport" content="width-device=width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/stylelogin.css" />

  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  
</head>
<body>
  <% if(data === "tidak ditemukan") { %>
    <div id="alert" class="alert-data">
      <i id="danger" class="fa-solid fa-triangle-exclamation"></i>
      <p>Username atau Password anda salah</p>
      <i id="close" class="fa-solid fa-circle-xmark"></i>
    </div>  
  <% } else { %>

  <% } %>
  <div class="container">
    <div class="foto"></div>
    <div class="login">
      <h3 class="title">Sign In</h3>
      <form method="post" action="" class="text-input">
        <p>Username</p>
        <input
          type="text"
          name="username"
          class="uname"
          placeholder="Username"
          required
        />
        <p>Password</p>
        <div class="input-group" id="show_hide_password">
          <input
            type="password"
            id="myPassword"
            name="password"
            class="pword"
            placeholder="Password"
            required
          />
          <div class="input-group-addon">
            <i
              id="toogle-pw"
              class="fa fa-eye-slash"
              aria-hidden="true"
              onclick="togglePasswordVisibility()"
            ></i>
          </div>
        </div>
        <button class="Login">Login</button>
      </form>

      <div class="Signup">
        <p class="Unregistered">Belum memiliki akun?</p>
        <a href="/register-data-pengguna" class="Unregistered2">Sign Up</a>
      </div>
    </div>
  </div>
</body>

<script>
  function togglePasswordVisibility() {
    const passwordInput = document.getElementById("myPassword");
    const toggle = document.getElementById("toogle-pw");

    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      toggle.classList.remove("fa-eye-slash");
      toggle.classList.add("fa-eye");
    } else {
      passwordInput.type = "password";
      toggle.classList.remove("fa-eye");
      toggle.classList.add("fa-eye-slash");
    }
  }
  const alert = document.getElementById("alert");
  const close = document.getElementById("close");
  close.addEventListener("click", () =>{
    alert.style.display = "none";
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


