<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/styleregist.css" />
</head>
<body>
  <div class="container">
    <div class="foto"></div>
    <div class="Signup">
      <h3 class="title">Sign Up</h3>
      <form method="post" action="/register-data">
        <div class="split-form">
          <div class="left">
            <div class="form-group">
              <label class="details">NIK</label>
              <input name="nik" type="text" placeholder="Masukkan NIK Anda" />
            </div>
            <div class="form-group">
              <label class="details">Nama</label>
              <input name="nama" type="text" placeholder="Masukkan Nama Anda" />
            </div>
            <div class="form-group">
              <label class="details">Username</label>
              <input
                name="username"
                type="text"
                placeholder="Masukkan Username Anda"
              />
            </div>
            <div class="form-group">
              <label class="details">Password</label>
              <input
                name="password"
                type="password"
                placeholder="Masukkan Password Anda"
              />
            </div>
            <div class="form-group">
              <label class="details">Email</label>
              <input
                name="email"
                type="text"
                placeholder="Masukkan Email Anda"
              />
            </div>
            <div class="form-group">
              <label class="details">Tanggal Lahir</label>
              <input
                name="tanggallahir"
                type="date"
                placeholder="Masukkan Tanggal Lahir Anda"
              />
            </div>
          </div>
          <div class="right">
            <div class="form-group">
              <label class="details">No. HP</label>
              <input
                name="hp"
                type="text"
                placeholder="Masukkan No Telfon Anda"
              />
            </div>

            <div class="form-group">
              <label class="details">Kelurahan</label>
              <input
                type="text"
                value="Coblong"
                name="kelurahan"
                placeholder="Coblong"
                disabled
              />
            </div>
            <div class="form-group">
              <label class="details">RW</label>
              <select name="rw">
                <option value="kosong">Pilih RW Anda</option>
                <option value="1">RW 1</option>
                <option value="2">RW 2</option>
                <option value="3">RW 3</option>
                <option value="4">RW 4</option>
              </select>
            </div>
            <div class="form-group">
              <label class="details">RT</label>
              <select name="rt">
                <option value="kosong">Pilih RT Anda</option>
                <option value="1">RT 1</option>
                <option value="2">RT 2</option>
              </select>
            </div>
            <div class="form-group">
              <label class="details">Alamat Lengkap</label>
              <input
                name="alamat"
                type="text"
                placeholder="Masukkan Alamat Anda"
              />
            </div>
            <div class="form-group">
              <label class="details">Upload Foto Profile</label>
              <label class="file">
                <input type="file" name="fotoProfile" id="profileSignup" />
              </label>
            </div>
          </div>
        </div>

        <div class="button">
          <button class="tombol">Simpan</button>
        </div>
      </form>
    </div>
  </div>
</body>
