@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;600;700;800;900&display=swap");
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  color: #322c38;
  animation: transitionIn 0.75s;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background: #e5ded6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  border-radius: 6px;
  width: 67vw;
  height: 78vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "Signup";
  border-radius: 6px;
  background: white;
}

/* BAGIAN DALAM CONTAINER*/
.foto {
  background-image: url("./assets/merahputih.jpeg");
  background-size: cover;
  grid-area: foto;
  display: none;
  background-position: center;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.Signup {
  grid-area: Signup;
  min-width: 50%;
  background: #fff;
  border-radius: 6px;
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  gap: 7px;
}

.Signup .title {
  margin-top: 2px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  color: #322c38;
}
form {
  height: fit-content;
  width: auto;
  flex-wrap: nowrap;
  margin-bottom: 0;
}
.form-group {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.form-group label {
  font-weight: 200;
}

.form-group input,
.form-group select,
.form-group span {
  background: #eeeeee;
  display: flex;
  width: 90%;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  margin: 3px;
  border: none;
  align-items: center;
  justify-content: center;
}

.form-group input::placeholder,
.form-group select::placeholder,
.form-group span::placeholder {
  font-weight: 400;
  font-size: 8pt;
}

.split-form {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
  flex-grow: 1;
  column-gap: 4px;
}
.left,
.right {
  flex-grow: 1;
}
.button .tombol {
  font-weight: 700;
  background: #322c38;
  color: white;
  font-size: 1.2em;
  padding: 13px 35px;
  align-items: center;
  border-radius: 30px;
  text-align: center;
  margin-top: 13px;
  border: none;
  margin-bottom: -5px;
  justify-content: space-between;
}
.button {
  margin-bottom: 0;
  position: relative;
  text-align: center;
}
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "foto Signup";
  }
  .foto {
    display: initial;
  }
}

@media (max-width: 768px) {
  body {
    background-image: url("./assets/merahputih.jpeg");
    display: flex;
    background-position: center;
    background-size: cover;
  }
}
