<aside class="sidebar">
  <div class="logo">
    <img src="../assets/logo-pemilu-2019.webp" alt="" />
    <a href="">Rakyat Memilih</a>
  </div>
  <div
    class="nav-group <% if (active === 'verifikasi') { %>active<% } %>"
    onclick="location.href='/lurah'"
  >
    <i class="fa fa-check-circle" aria-hidden="true"></i>
    <a href="/lurah">Pilih Saksi TPS</a>
  </div>
  <div
    class="nav-group <% if (active === 'tps') { %>active<% } %>"
    onclick="location.href='/lurah/hasil-distribusi-tps'"
  >
    <i class="fa-solid fa-box-tissue"></i>
    <a href="/lurah/hasil-distribusi-tps">Distribusi TPS</a>
  </div>
  <div
    class="nav-group <% if (active === 'kelolarw') { %>active<% } %>"
    onclick="location.href='/lurah/hasil-distribusi-rw'"
  >
    <i class="fa-solid fa-city"></i>
    <a href="/lurah/hasil-distribusi-rw">Kelola RW</a>
  </div>
  <div class="nav-group <% if (active === 'kelolart') { %>active<% } %>">
      <i class="fa-solid fa-building"></i>
      <a href="/lurah/distribusi-rt">Kelola RT</a>
    </div>
  <div class="user-account">
    <img class="user-image" src="../assets/<%= resultPenggunaId.profile %>" alt="" />
    <div class="user-info">
      <h1 class="name"><%= resultPenggunaId.nama %></h1>
      <p class="info">Online</p>
    </div>
    <a href="/">
        <i class="fa-sharp fa-solid fa-right-from-bracket"></i>
      </a>
</div>
</aside>