
  <aside class="sidebar">
    <div class="logo">
      <img src="../assets/logo-pemilu-2019.webp" alt="" />
      <a href="">Rakyat Memilih</a>
    </div>
    <div class="nav-group <% if (active === 'beranda') { %>active<% } %>">
      <i class="fa-solid fa-house-chimney"></i>
      <a href="/pengguna/">Beranda</a>
    </div>
    <div
      class="nav-group <% if (active === 'verifikasiData') { %>active<% } %>"
    >
      <i class="fa fa-check-circle" aria-hidden="true"></i>
      <a href="/pengguna/verif-data-pengguna">Verifikasi Data</a>
    </div>
    <div class="nav-group <% if (active === 'editAkun') { %>active<% } %>">
      <i class="fa-solid fa-user-pen"></i>
      <a href="/pengguna/edit-akun">Edit Akun</a>
    </div>
    <div class="nav-group <% if (active === 'kartuPemilu') { %>active<% } %>">
      <i class="fa-solid fa-address-card"></i>
      <a href="/pengguna/kartu-pemilu">Kartu Pemilu</a>
    </div>
    <div class="user-account">
      <img class="user-image" src="../assets/null-profile.webp" alt="" />
      <div class="user-info">
        <h1 class="name"><%= resultPenggunaId.nama %></h1>
        <p class="info">Online</p>
      </div>
      <a href="/">
        <i class="fa-sharp fa-solid fa-right-from-bracket"></i>
      </a>
    </div>
  </aside>

