
    <aside class="notification">
      <header class="header-notification">
        <i class="fa-solid fa-bell"></i>
        <h1>Notifikasi</h1>
      </header>

      <div class="verif-data">
        <h1 class="info">Terdapat pesan untuk anda!</h1>
        <% if (resultPenggunaId.status === null) { %>
          <section class="section-notif">
            <h1>Verifikasi data anda!</h1>
            <p>verifikasi data anda terlebih dahulu</p>
          </section>
        <% } %>
      </div>
    </aside>


