<aside class="sidebar">
    <div class="logo">
      <img src="../assets/logo-pemilu-2019.webp" alt="" />
      <a href="">Rakyat Memilih</a>
    </div>
    <div class="nav-group <% if (active === 'beranda') { %>active<% } %>">
      <i class="fa-solid fa-house-chimney"></i>
      <a href="/admin/">Halaman Utama</a>
    </div>
    <div class="nav-group <% if (active === 'verifikasi') { %>active<% } %>">
      <i class="fa fa-check-circle" aria-hidden="true"></i>
      <a href="/admin/verifikasi-data-pemilih">Verifikasi Data</a>
    </div>
    <div class="nav-group <% if (active === 'tps') { %>active<% } %>">
      <i class="fa-solid fa-box-tissue"></i>
      <a href="/admin/kelola-tps">Kelola TPS</a>
    </div>
    <div class="nav-group <% if (active === 'kelolarw') { %>active<% } %>">
      <i class="fa-solid fa-city"></i>
      <a href="/admin/kelola-rw">Kelola RW</a>
    </div>
    <div class="nav-group <% if (active === 'kelolart') { %>active<% } %>">
      <i class="fa-solid fa-building"></i>
      <a href="/admin/kelola-rt">Kelola RT</a>
    </div>
    <div class="user-account">
      <img class="user-image" src="../assets/users1.jpg" alt="" />
      <div class="user-info">
        <h1 class="name">Adrian Jason</h1>
        <p class="info">Online</p>
      </div>
      <a href="/">
        <i class="fa-sharp fa-solid fa-right-from-bracket"></i>
      </a>
    </div>
</aside>