<aside class="notification">
    <header>
      <i class="fa-solid fa-bell"></i>
      <h1>Notifikasi</h1>
    </header>

    <div class="verif-data">
      <h1 class="info">Pengajuan Verifikasi Hari Ini</h1>
      <section class="notif-box">
        <div class="notif-info">
          <img class="notif" src="../assets/users1.jpg" alt="" />
          <div class="notif-user">
            <h1 class="name">Adrian Jason</h1>
            <div class="button-notif">
              <button class="button-small success">Verifikasi</button>
              <button class="button-small danger">Hapus</button>
            </div>
          </div>
        </div>
      </section>
      <section class="notif-box">
        <div class="notif-info">
          <img class="notif" src="../assets/users1.jpg" alt="" />
          <div class="notif-user">
            <h1 class="name">Adrian Jason</h1>
            <div class="button-notif">
              <button class="button-small success">Verifikasi</button>
              <button class="button-small danger">Hapus</button>
            </div>
          </div>
        </div>
      </section>
      <section class="notif-box">
        <div class="notif-info">
          <img class="notif" src="../assets/users1.jpg" alt="" />
          <div class="notif-user">
            <h1 class="name">Adrian Jason</h1>
            <div class="button-notif">
              <button class="button-small success">Verifikasi</button>
              <button class="button-small danger">Hapus</button>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="verif-data">
      <h1 class="info">TPS Belum Lengkap</h1>
      <section class="notif-box">
        <div class="notif-info">
          <div class="notif-user tps">
            <h1 class="name">TPS RW 05</h1>
            <div class="box">
              <h1>Jumlah TPS : 0</h1>
              <button class="button-small primary">
                <i class="fa-sharp fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="notif-box">
        <div class="notif-info">
          <div class="notif-user tps">
            <h1 class="name">TPS RW 05</h1>
            <div class="box">
              <h1>Jumlah TPS : 0</h1>
              <button class="button-small primary">
                <i class="fa-sharp fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="notif-box">
        <div class="notif-info">
          <div class="notif-user tps">
            <h1 class="name">TPS RW 05</h1>
            <div class="box">
              <h1>Jumlah TPS : 0</h1>
              <button class="button-small primary">
                <i class="fa-sharp fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </aside>